{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="">Student Information System</a>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <i class='fas fa-home'></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/students_content">
                <span class='fas fa-user-graduate'></span>
                Students <span class="sr-only">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/courses/courses_content">
                <span class='fas fa-chalkboard'></span>
                Courses
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/colleges/colleges_content">
                <span class='fas fa-university'></span>
                Colleges
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Students</h5>
              <p class="card-text">There are currently {{ count_students }} student{{ 's' if count_students > 1  else '' }}.</p>
              <a href="/students/students_content" class="btn btn-outline-primary">View Students</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Courses</h5>
              <p class="card-text">There are currently {{ count_courses }} course{{ 's' if count_courses > 1  else '' }}.</p>
              <a href="/courses/courses_content" class="btn btn-outline-primary">View Courses</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Colleges</h5>
              <p class="card-text">There are currently {{ count_colleges }} college{{ 's' if count_colleges > 1  else '' }}.</p>
              <a href="/colleges/colleges_content" class="btn btn-outline-primary">View Colleges</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
